extends ./layout/layout

block content
    .content_header
        p Cats
    .form_container
        .girl_search_container
        form(action='/ui/girl', method='post')
            label name
            input.input_text(required="required", type='text', name='name')
            label nickname
            input.input_text(required="required", type='text', name='nickname')
            label instagram id
            input.input_text(required="required", type='text', name='instagramId')
            input(type='submit', value='submit')
    .content_index
        - var n = 1;
        ul
            while n <= totalPages
                a(href=`/ui/girl?page=${n}`)
                    li= n++
    .content_body
        .girls_list
            if results
                if results.length
                    each result in results
                        .container
                            .girl_container
                                .girl_name
                                    p #{result.girl.name}
                                .girl_nickname
                                    p #{result.girl.nickname}
                                each instagram in result.instagram
                                    a(href=`https://www.instagram.com/${instagram.id}`)
                                        p #{instagram.id}
                            .img_container
                                img(src=`${result.instagram[0].profile}`)
                            .tag_selection_container
                                form(action=`/ui/girl/tag?girl=${result.girl.id}`, method="post")
                                    .checkboxes_container
                                        each tag in tags
                                            .checkbox_container
                                                input(type="checkbox" name=`tags` value=`${tag.id}`)
                                                div #{tag.name}
                                    .button_container
                                        button.tag_apply_girl apply
                                
                else
                    p.empty_list There has no contents.